/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Color Scheme:
blues: #152b69, #446ca3, #239ebb, #91becc
grey: #e1dad0
vanilla: #fffcee*/
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fffcee;
}

.container {
  padding:15px;
}

h1 {
  margin: 20px 0px 20px 0px;
  color: #446ca3;
}

h3 {
  margin: 10px 0px;
  color: #239ebb;
}

ul {
  /*list-style-type: none;*/
}

nav {
  background-color: #446ca3;
  text-align: right;
  padding-left: 45px;
}

nav a {
  line-height: 45px;
  color: #e1dad0;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 20px;
}

nav a:hover {
  color: #fffcee;
}

form {
  margin-left: 20px;
}

input, select {
  height: 26px;
  width: 250px;
  border: solid 1px #aaa;
  border-radius: 3px;
}

label {
  margin: 24px 0px -16px 0px;
  display: block;
}

textarea {
  width: 250px;
  height: 100px;
  border: solid 1px #aaa;
  border-radius: 3px;
}

input[type="submit" i] {
  margin-top:15px;
  background-color: #446ca3;
  height:35px;
  color: #e1dad0;
  font-size: 16px;
  text-transform: uppercase;
}

p.notice, p.alert {
  line-height: 40px;
  padding-left: 20px;
  color: #239ebb;
  background: #c9e7ef;
}

.boat {
  padding: 10px 0px;
}

.boat hr {
  margin-top: 20px;
  border-bottom: solid 1px #e4dcb7;
}
