
<h1>All Boats</h1>

<div class="boat">
  <% @boats.each do |boat| %>
  
  <br>
  <h3><%= link_to "#{boat.name}", boat_path(boat) %></h3>
  <h4>Owner: <%= link_to boat.user.user_name, profile_path(boat.user.user_name) %></h4>
  <%= link_to image_tag(boat.avatar.url(:medium)), boat_path(boat) %><br>
  <%= link_to "Click for more about #{boat.name}", boat_path(boat) %>

  <% end %>

</div>
