<h1>All Boats</h1>

<div class="boat">
  <% @boats.each do |boat| %>
  <h3><%= link_to "#{boat.name}", boat_path(boat) %></h3>
  <%= link_to image_tag(boat.avatar.url(:medium)), boat_path(boat) %><br>
  <%= link_to "Click for more about #{boat.name}", boat_path(boat) %>
  <hr />
  <% end %>
</div>
